[Desktop Entry]
Type=Application
Name=Axichat
Comment=Free chat+email client
Exec=axichat
Icon=im.axi.axichat
Categories=Network;Chat;InstantMessaging;Email;
StartupWMClass=im.axi.axichat
Terminal=false
