# TODO: Ensure install scripts copy this desktop entry and the Axichat icon into
# /usr/share/applications and the appropriate icon theme directory.
[Desktop Entry]
Type=Application
Name=Axichat
Comment=Free chat+email client
Exec=axichat
Icon=im.axi.axichat
Categories=Network;Chat;InstantMessaging;Email
StartupWMClass=axichat
